<h3>Informations</h3>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="flex-line">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let typeFrais of typesFrais" [value]="typeFrais"> {{typeFrais.nom}}</mat-option>
        <mat-option value="autre">Autre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('type')?.value === 'autre'">
      <mat-label>Autre type</mat-label>
      <input formControlName="autre" matInput>
    </mat-form-field>
  </div>
  <div class="flex-line">
    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input formControlName="prix" matInput type="number">
      <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de réalisation</mat-label>
      <input [matDatepicker]="picker" [max]="maxDate" formControlName="date" matInput>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <h3>TypeBien(s) affecté(s)</h3>
  <h5>Il reste {{100 - activePercent}}% à ventiller</h5>
  <div *ngFor="let bien of form.get('biens')?.value">{{bien.bien.nom}} {{bien.pourcent}}%
    ({{form.get('prix')?.value * bien.pourcent / 100}}€)
  </div>

  <h4>Ajouter un bien</h4>
  <form [formGroup]="formBien" class="flex-line">
    <mat-form-field>
      <mat-label>TypeBien</mat-label>
      <mat-select formControlName="bien">
        <mat-option *ngFor="let bien of biens" [value]="bien"> {{bien.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pourcentage</mat-label>
      <input formControlName="pourcent" matInput type="number">
      <mat-icon matSuffix>percent</mat-icon>
    </mat-form-field>
    <ng-container *ngIf="formBien.get('pourcent')?.value">
      ({{form.get('prix')?.value * formBien.get('pourcent')?.value / 100}}€)
    </ng-container>
    <div class="flex-line">
      <button (click)="addBien()" [disabled]="formBien.invalid && form.invalid" mat-raised-button>Ajouter le bien au
        frais en cours
      </button>
    </div>
  </form>

  <div class="flex-line actions">
    <button color="accent" mat-raised-button type="reset">Réinitialiser</button>
    <button [disabled]="form.invalid && activePercent !== 100" mat-raised-button>Ajouter</button>
  </div>

</form>

