<h3>Informations</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="flex-line">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let typeFrais of typesFrais" [value]="typeFrais"> {{typeFrais.nom}}</mat-option>
        <mat-option value="autre">Autre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('type')?.value === 'autre'">
      <mat-label>Autre type</mat-label>
      <input matInput formControlName="autre">
    </mat-form-field>
  </div>
  <div class="flex-line">
    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput formControlName="prix" type="number">
      <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de réalisation</mat-label>
      <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <h3>Bien(s) affecté(s)</h3>
  <div *ngFor="let bien of form.get('biens')?.value">{{bien.bien.nom}} {{bien.pourcent}}% ({{form.get('prix')?.value * bien.pourcent / 100}}€)</div>

  <h4>Ajouter un bien</h4>
  <div class="flex-line">
    <form [formGroup]="formBien">
      <mat-form-field>
        <mat-label>Bien</mat-label>
        <mat-select formControlName="bien">
          <mat-option *ngFor="let bien of biens" [value]="bien"> {{bien.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pourcentage</mat-label>
        <input matInput formControlName="pourcent" type="number">
        <mat-icon matSuffix>percent</mat-icon>
      </mat-form-field>
      <ng-container *ngIf="formBien.get('pourcent')?.value">
        ({{form.get('prix')?.value * formBien.get('pourcent')?.value  / 100}}€)
      </ng-container>
      <div class="flex-line">
        <button mat-raised-button [disabled]="formBien.invalid && form.invalid" (click)="addBien()">Ajouter le bien au frais en cours</button>
      </div>
    </form>
  </div>

  <div class="flex-line actions">
    <button mat-raised-button color="accent" type="reset">Réinitialiser</button>
    <button mat-raised-button [disabled]="form.invalid">Ajouter</button>
  </div>

</form>

