<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <mat-hint>Toutes les informations que vous renseignez sont seulement stockées sur votre navigateur</mat-hint>
  <div>
    <a href="https://github.com/j-catania/impots" mat-icon-button target="_blank"><img src="assets/github.png"
                                                                                       width="16"></a>
    <a href="https://github.com/j-catania/impots/issues/new?assignees=&labels=&template=feature_request.md&title="
       mat-button target="_blank">Demande d'évolutions</a>
    <a href="https://github.com/j-catania/impots/issues/new?assignees=&labels=&template=bug_report.md&title=" mat-button
       target="_blank">Déclarer un bug</a>
  </div>
</footer>
