
section {
  padding-bottom: 65px;
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-hint {
    font-style: italic;
  }
}
