/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #8ed2ff
}

.flex-line, .flex-column {
  display: flex;

  mat-form-field, button {
    flex: 1;
    margin: 0 0.5em;
  }
}

.flex-column {
  flex-direction: column;
}

.actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
