<section>
  <!--<h1>Impots</h1>-->
  <h2>Outil d'aide à la rédaction des frais réels fonciers</h2>


  <div mat-subheader>Pour commencer, renseignez ces informations</div>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes biens
        </mat-panel-title>
        <mat-panel-description>
          {{data.biens.length}}
          <mat-icon>{{data.biens.length === 0 ? 'radio_button_unchecked' : 'task_alt'}}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let bien of data.biens; index as index">
          <div class="flex-line">
            {{bien.nom}}
            <button (click)="deleteBien(index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

      <form (submit)="newBien()" [formGroup]="bienFG">
        <div class="flex-line">

          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <textarea formControlName="adresse" matInput></textarea>
          </mat-form-field>
          <div>
            <button [disabled]="bienFG.invalid" color="accent"
                    mat-flat-button
                    type="submit">Ajouter
            </button>
          </div>
        </div>

      </form>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes prestataires
        </mat-panel-title>
        <mat-panel-description>
          {{data.prestataires.length}}
          <mat-icon>{{data.prestataires.length === 0 ? 'radio_button_unchecked' : 'task_alt'}}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>

        <mat-list-item *ngFor="let presta of data.prestataires; index as index">
          <div class="flex-line">
            {{presta.nom}}
            <button (click)="deletePresta(index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

      <form (submit)="newPresta()" [formGroup]="prestaFG">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input formControlName="nom" matInput>
        </mat-form-field>

        <div>
          <button [disabled]="prestaFG.invalid" color="accent"
                  mat-flat-button
                  type="submit">Ajouter
          </button>
        </div>
      </form>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes types de frais
        </mat-panel-title>
        <mat-panel-description>
          {{data.typeFrais.length}}
          <mat-icon>{{data.typeFrais.length === 0 ? 'radio_button_unchecked' : 'task_alt'}}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let frai of data.typeFrais; index as index">

          <div class="flex-line">
            {{frai.nom}} - {{frai.prestataire.nom}}
            <button (click)="deleteFrais(index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

      <form (submit)="newFrais()" [formGroup]="typeFraisFG">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input formControlName="nom" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prestataire</mat-label>
          <mat-select formControlName="prestataire">
            <mat-option *ngFor="let presta of data.prestataires" [value]="presta">
              {{presta.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button [disabled]="typeFraisFG.invalid" color="accent"
                  mat-flat-button
                  type="submit">Ajouter
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>


  <button [disabled]="data.prestataires.length === 0 || data.biens.length === 0"
          [routerLink]="['calcul']"
          color="primary"
          mat-flat-button
  >Lancer un calcul !
  </button>

</section>
